@use "../_mixins.scss";

.btn_container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
//   margin-right: 20%;
  @include mixins.md-lg-screen {
    gap: 50px;
  }

  @include mixins.sm-md-screen {
    justify-content: center;
    margin-right: 0px;
  }
}

.btn {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #420e00;
  color: #d3cb9e;
  cursor: pointer;
  &:disabled{
    background-color: #8a4836;
    cursor:default;

  }
}
