@use "../_mixins.scss";
.bookList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-left: 30px;
  padding-right: 30px;

  @include mixins.md-lg-screen {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
  }

  @include mixins.sm-md-screen {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 30px;
  }
}
