.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    &_pageOption{
        align-self: flex-end;
        margin-right: 20%;
    }
}